* {
  padding: 0;
  box-sizing: border-box;
  font-size: 95%;
  color: #262626;
  font-weight: bold;
}

#wstCalendar {
  font-size: 25px !important;
  background-color: rgb(219, 219, 219);
  border-top: 5px solid #FF3300;
  border-bottom: 5px solid #FF3300;
}

.suvTtl {
  background-color: rgb(219, 219, 219);
  border-radius: 5px;
  font-size: 12px;
}

#date {
  margin-right: 35%;
  color: #0034b8;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 7px;
  right: 0;
}

#subMenuTitle {
  position: absolute;
  top: 5%;
  left: 40%;
}

.menutitleList {
  position: relative;
  display: flex;
}

#aisAllToggleBtn {
  cursor: pointer;
  background-color: #54d4ff;
  border: none;
  border-radius: 5px;
  font-size: 50%;
  width: 75px;
  height: 35px;
  border-bottom: 5px solid #333;
  transition: transform .2s;

  &:active {
    transform: scale(.99);
    margin-top: 0.2%;
    border-bottom: 1px solid #333;
  }
}

#aisDivisionList {
  margin-left: 5px;
  border: 3px solid #54d4ff;
  border-radius: 5px;
  font-size: 100%;
  text-align: center;
  width: 125px;
  height: 35px;
  cursor: pointer;
}

#aisManageList {
  margin-left: 5px;
  border: 3px solid #54d4ff;
  border-radius: 5px;
  font-size: 100%;
  text-align: center;
  width: 235px;
  height: 35px;
  cursor: pointer;
  overflow: scroll;
}

.searchBtn {
  margin-left: 5px;
  box-sizing: border-box;
  position: relative;
  border: 3px solid #54d4ff;
  padding: 3px 10px;
  border-radius: 5px;
  height: 35px;
  width: 150px;
  overflow: hidden;
}

.searchBtn input[type="text"] {
  border: none;
  height: 25px;
  width: 85px;
}

.searchBtn input[type="text"]:focus {
  outline: 0;
}

.searchBtn input[type="submit"] {
  cursor: pointer;
  font-family: FontAwesome;
  border: none;
  background-color: #3879D9;
  color: #fff;
  position: absolute;
  width: 33px;
  height: 35px;
  right: 0px;
  top: -3px;
  outline: none;
}

#aisAllEditBtn {
  position: absolute;
  top:12%;
  left: 1%;
  cursor: pointer;
  background-color: #dedede;
  border: none;
  border-radius: 5px;
  font-size: 50%;
  width: 75px;
  height: 35px;
  border-bottom: 5px solid #333;
  transition: transform .2s;

  &:active {
    transform: scale(.99);
    margin-top: 0.2%;
    border-bottom: 1px solid #333;
  }
}

header {
  display: flex;
  justify-content: space-between;
}

.suvTtl input {
  margin-right: 5px;
  text-align: right;
  border-radius: 5px !important;
}

#date,
.btn {
  text-align: right;
}

main {
  margin-top: 5%;
}

#top div {
  margin-top: 0.3%;
}

.president {
  display: flex;
  justify-content: center;
}

.president div {
  margin: 0 5%;
}

#top .topBox {
  border: 3px solid #FF3300;
  border-radius: 10px;
  padding: 5px 10px;
  height: 100%;
  background-color: #ffe3bd;
}

#sh,
#rglt,
#presidt,
#adt,
.president div input {
  margin-right: auto;
  margin-left: auto;
}

div:has(>input) {
  text-align: center;
}

#top input,
.manageName,
.manageName input,
.readerName,
.readerName input,
.proxyName,
.proxyName input,
.ictReaderGroup,
.ictReaderName input,
.eastBizName,
.eastBizName input {
  background-color: #ffe3bd;
  border-radius: 8px;
}

.mngName,
.mngName input,
.bizName,
.bizName input,
.qltName,
.qltName input,
.sesName,
.sesName input,
.bgColorBox,
.bgColorBox input {
  background-color: rgb(190, 230, 249);
  border-radius: 8px;
}

main input {
  width: 95%;
  box-sizing: border-box;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 15px;
}

.president div,
#adt,
#presidt {
  display: flex;
  flex-direction: column;
}

#adt {
  margin: 0 20% 0 60%;
}

#sh,
#rglt,
#adt,
#presidt,
#biz,
#prez,
#consult {
  width: 13%;
}

#category {
  display: flex;
  margin: 1% 5px 0;
}

.readerGroup,
.proxyGroup,
.manageGroup,
.manageContainer>.groupBox>div,
.devGroupBox>div,
.ictReaderGroup,
.ictGroupBox div:has(>input),
.eastBizName,
.eastBizMem {
  border: 3px solid #FF3300;
  border-radius: 10px;
}

.management {
  width: 13%;
}

.development {
  width: 48%;
  margin: 0 10px;
}

.readerGroup input,
.proxyGroup .proxyGroup input,
.ictReaderGroup input,
.eastBizName input {
  font-size: 0.8vw;
}

.developGroup {
  height: 100%;
  display: grid;
  grid: "a b c d" "e f f g";
  grid-template-columns: 1fr 2fr 1fr;
}

.devCenterBox .groupBox:nth-child(1) {
  float: left;
  width: 50%;
}

.devCenterBox .groupBox:nth-child(2) {
  float: left;
  width: 50%;
}

.devCenterBox .groupBox:nth-child(3) {
  clear: both;
  width: 100%;
}

.devGroupBox:nth-child(6) .sixthMem>input {
  width: 47%;
  margin-left: 1.5%;
}

.ict {
  width: 27%;
  margin-right: 10px;
}

.ictReaderGroup {
  padding: 9px;
}

.ictGroup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: start;
}

.eastBusiness {
  width: 12%;
}

/* アコーディオンメニュー */
.openGroup,
.groupBox {
  height: fit-content;
  overflow: hidden;
}

.readerName,
.manageName,
.ictReaderName {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
  align-items: center;
  position: relative;
  z-index: 2;
}

.mngName,
.bizName,
.qltName,
.sesName {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
  align-items: center;
  position: relative;
  z-index: 2;
}

.bgColorBox {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  position: relative;
  z-index: 5;
}

.devGroupBox .memSelect {
  min-height: 300px;
}

.ictGroupBox .memSelect {
  min-height: 150px;
}

.memSelect input:hover {
  background-color: #caf3ff;
  cursor: pointer;
}

/* 管理本部 */
.manageToggleBtn {
  position: absolute;
  right: 0;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.manageToggleBtn::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: black;
  transition: .2s;
}

.manageToggleBtn.active::before {
  transform: translateX(-10px);
  opacity: 0;
}

.manageToggleBtn::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: black;
  transform: rotate(90deg);
  transition: .4s;
}

.manageToggleBtn.manageToggleBtn.active::after {
  transform: rotate(0deg);
}

.manageContainer {
  z-index: 1;
  opacity: 0;
  transition: .6s;
}

.manageContainer input {
  cursor: pointer;
}

/* 経営支援室 */

.mngToggleBtn {
  position: absolute;
  right: 0;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.mngToggleBtn::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: black;
  transition: .2s;
}

.mngToggleBtn.active::before {
  transform: translateX(-10px);
  opacity: 0;
}

.mngToggleBtn::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: black;
  transform: rotate(90deg);
  transition: .4s;
}

.mngToggleBtn.mngToggleBtn.active::after {
  transform: rotate(0deg);
}

.mngContainer {
  z-index: 1;
  opacity: 0;
  transition: .6s;
}

.mngContainer input {
  cursor: pointer;
}

/* 営業部 */
.bizToggleBtn {
  position: absolute;
  right: 0;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.bizToggleBtn::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: black;
  transition: .2s;
}

.bizToggleBtn.active::before {
  transform: translateX(-20px);
  opacity: 0;
}

.bizToggleBtn::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: black;
  transform: rotate(90deg);
  transition: .4s;
}

.bizToggleBtn.bizToggleBtn.active::after {
  transform: rotate(0deg);
}

.bizContainer {
  z-index: 1;
  opacity: 0;
  transition: .6s;
}

.bizContainer input {
  cursor: pointer;
}

/* 品質管理部 */
.qltToggleBtn {
  position: absolute;
  right: 0;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.qltToggleBtn::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: black;
  transition: .2s;
}

.qltToggleBtn.active::before {
  transform: translateX(-10px);
  opacity: 0;
}

.qltToggleBtn::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: black;
  transform: rotate(90deg);
  transition: .4s;
}

.qltToggleBtn.qltToggleBtn.active::after {
  transform: rotate(0deg);
}

.qltContainer {
  z-index: 1;
  opacity: 0;
  transition: .6s;
}

.qltContainer input {
  cursor: pointer;
}

/* スマートエナジーソリューション部 */
.sesToggleBtn {
  position: absolute;
  right: 0;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.sesToggleBtn::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: black;
  transition: .2s;
}

.sesToggleBtn.active::before {
  transform: translateX(-10px);
  opacity: 0;
}

.sesToggleBtn::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: black;
  transform: rotate(90deg);
  transition: .4s;
}

.sesToggleBtn.sesToggleBtn.active::after {
  transform: rotate(0deg);
}

.sesContainer {
  z-index: 1;
  opacity: 0;
  transition: .6s;
}

.sesContainer input {
  cursor: pointer;
}

/* 開発本部 */
.devGroupToggleBtn,
.dev1ToggleBtn,
.dev2ToggleBtn,
.dev3ToggleBtn,
.dev4ToggleBtn,
.dev5ToggleBtn,
.dev6ToggleBtn,
.dev7ToggleBtn {
  position: absolute;
  right: 0;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.devGroupToggleBtn::before,
.dev1ToggleBtn::before,
.dev2ToggleBtn::before,
.dev3ToggleBtn::before,
.dev4ToggleBtn::before,
.dev5ToggleBtn::before,
.dev6ToggleBtn::before,
.dev7ToggleBtn::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: black;
  transition: .2s;
}

.devGroupToggleBtn.active::before,
.dev1ToggleBtn.active::before,
.dev2ToggleBtn.active::before,
.dev3ToggleBtn.active::before,
.dev4ToggleBtn.active::before,
.dev5ToggleBtn.active::before,
.dev6ToggleBtn.active::before,
.dev7ToggleBtn.active::before {
  transform: translateX(-10px);
  opacity: 0;
}

.devGroupToggleBtn::after,
.dev1ToggleBtn::after,
.dev2ToggleBtn::after,
.dev3ToggleBtn::after,
.dev4ToggleBtn::after,
.dev5ToggleBtn::after,
.dev6ToggleBtn::after,
.dev7ToggleBtn::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: black;
  transform: rotate(90deg);
  transition: .6s;
}

.devGroupToggleBtn.devGroupToggleBtn.active::after,
.dev1ToggleBtn.dev1ToggleBtn.active::after,
.dev2ToggleBtn.dev2ToggleBtn.active::after,
.dev3ToggleBtn.dev3ToggleBtn.active::after,
.dev4ToggleBtn.dev4ToggleBtn.active::after,
.dev5ToggleBtn.dev5ToggleBtn.active::after,
.dev6ToggleBtn.dev6ToggleBtn.active::after,
.dev7ToggleBtn.dev7ToggleBtn.active::after {
  transform: rotate(0deg);
}

.devGroupContainer,
.dev1Container,
.dev2Container,
.dev3Container,
.dev4Container,
.dev5Container,
.dev6Container,
.dev7Container {
  z-index: 1;
  opacity: 0;
  transition: .8s;
}

.devGroupContainer input,
.dev1Container input,
.dev2Container input,
.dev3Container input,
.dev4Container input,
.dev5Container input,
.dev6Container input,
.dev7Container input {
  cursor: pointer;
}

/* ICT本部 */
.ictGroupToggleBtn,
.ict1ToggleBtn,
.ict2ToggleBtn,
.ict3ToggleBtn,
.ict4ToggleBtn,
.ict5ToggleBtn,
.ict6ToggleBtn,
.ict7ToggleBtn {
  position: absolute;
  right: 0;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.ictGroupToggleBtn::before,
.ict1ToggleBtn::before,
.ict2ToggleBtn::before,
.ict3ToggleBtn::before,
.ict4ToggleBtn::before,
.ict5ToggleBtn::before,
.ict6ToggleBtn::before,
.ict7ToggleBtn::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: black;
  transition: .2s;
}

.ictGroupToggleBtn.active::before,
.ict1ToggleBtn.active::before,
.ict2ToggleBtn.active::before,
.ict3ToggleBtn.active::before,
.ict4ToggleBtn.active::before,
.ict5ToggleBtn.active::before,
.ict6ToggleBtn.active::before,
.ict7ToggleBtn.active::before {
  transform: translateX(-10px);
  opacity: 0;
}

.ictGroupToggleBtn::after,
.ict1ToggleBtn::after,
.ict2ToggleBtn::after,
.ict3ToggleBtn::after,
.ict4ToggleBtn::after,
.ict5ToggleBtn::after,
.ict6ToggleBtn::after,
.ict7ToggleBtn::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: black;
  transform: rotate(90deg);
  transition: .4s;
}

.ictGroupToggleBtn.ictGroupToggleBtn.active::after,
.ict1ToggleBtn.ict1ToggleBtn.active::after,
.ict2ToggleBtn.ict2ToggleBtn.active::after,
.ict3ToggleBtn.ict3ToggleBtn.active::after,
.ict4ToggleBtn.ict4ToggleBtn.active::after,
.ict5ToggleBtn.ict5ToggleBtn.active::after,
.ict6ToggleBtn.ict6ToggleBtn.active::after,
.ict7ToggleBtn.ict7ToggleBtn.active::after {
  transform: rotate(0deg);
}

.ictGroupContainer,
.ict1Container,
.ict2Container,
.ict3Container,
.ict4Container,
.ict5Container,
.ict6Container,
.ict7Container {
  z-index: 1;
  opacity: 0;
  transition: .6s;
}

.ictGroupContainer input,
.ict1Container input,
.ict2Container input,
.ict3Container input,
.ict4Container input,
.ict5Container input,
.ict6Container input,
.ict7Container input {
  cursor: pointer;
}

/* 東北事業所 */
.eastBizName {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
  align-items: center;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.estToggleBtn {
  position: absolute;
  right: 0;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.estToggleBtn::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: black;
  transition: .2s;
}

.estToggleBtn.active::before {
  transform: translateX(-10px);
  opacity: 0;
}

.estToggleBtn::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: black;
  transform: rotate(90deg);
  transition: .4s;
}

.estToggleBtn.estToggleBtn.active::after {
  transform: rotate(0deg);
}

.estContainer {
  z-index: 1;
  opacity: 0;
  transition: .6s;
}

.estContainer input {
  cursor: pointer;
}