*{
  padding: 0;
  box-sizing: border-box;
  font-size: 95%;
}

header {
  display: flex;
  justify-content: space-between;
}

header input {
  text-align: right;
}

#date,
.btn {
  text-align: right;
}

#top div {
  display: flex;
  justify-content: space-around;
  margin-top: 0.1%;
}

#top .topBox {
  border: 3px solid black;
}

#sh,
#rglt,
#presidt {
  margin-right: auto;
  margin-left: auto;
}

main input {
  width: 95%;
  text-align: center;
  border: none;
  outline: none;
}

.president div,
#adt,
#presidt {
  display: flex;
  flex-direction: column;
}

#adt {
  margin: 0 20% 0 60%;
}

#sh,
#rglt,
#adt,
#presidt,
#biz,
#prez,
#consult {
  width: 13%;
}

#presidt, #presidt input,
#prez, #prez input {
  background-color: #f39c12;
}

#category {
  display: flex;
  margin-top: 1%;
}

.titleBox, .titleBox input {
  background-color: #44abd9;
}

.readerGroup, .proxyGroup,
.manageGroup {
  border: 2px solid black;
}

.bgBox, .bgBox input,
.eastBizTop, .eastBizTop input {
  background-color: #f39c12;
}

.mngName, .bizName,
.qltName, .sesName {
  border: 1px solid black;
}

.eastBizName {
  border: 2px solid black;
}

.manageGroup, .manageGroup input,
.readerGroup, .readerGroup input,
.ictReaderGroup, .ictReaderGroup input {
  background-color: #008d4c;
}

.proxyGroup,
.proxyGroup input {
  background-color: #00a65a;
}

.management {
  width: 13%;
}

.development {
  width: 48%;
}

.development .developGroup {
  border: 1px solid black;
}

.developGroup {
  display: grid;
  grid: 'a b c d' 'e f f g';
  height: 100%;
}

.devGroupBox:nth-child(6) {
  grid-area: f;
  width: 100%;
}

.groupBox input,
.eastBizMem input {
  margin-left: 2.5%;
  margin-right: auto;
}

.devGroupBox:nth-child(6) .sixthMem>input {
  width: 47%;
  margin-left: 1.5%;
  margin-right: 1%;
}

.ict {
  width: 27%;
}

.ictReaderGroup {
  padding: 9px;
  border: 2px solid black;
}

.bgColorBox {
  border: 1px solid black;
  height: 20%;
}

.ictGroup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: start;
}  

.eastBusiness {
  width: 12%;
}  

/* アコーディオンメニュー */
.openGroup, .groupBox {
  width: fit-content;
  height: fit-content;
  overflow: hidden;
}

.readerName, .manageName, .ictReaderName {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
  align-items: center;
  position: relative;
  z-index: 2;
  background-color: #008d4c;
}  

.mngName, .bizName, .qltName,.sesName {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
  align-items: center;
  position: relative;
  z-index: 2;
  background-color: #f39c12;
}  

.bgColorBox {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  position: relative;
  z-index: 5;
  background-color: #44abd9;
}

.memSelect {
  height: 80%;
}

.memSelect input:hover {
  background-color: #ffe9d4;
  cursor: text;
}

/* 管理本部 */
.manageToggleBtn {
  position: absolute;
  right: 0;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}  

.manageToggleBtn::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: black;
  transition: .2s;
}  

.manageToggleBtn.active::before {
  transform: translateX(-10px);
  opacity: 0;
}  

.manageToggleBtn::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: black;
  transform: rotate(90deg);
  transition: .4s;
}  

.manageToggleBtn.manageToggleBtn.active::after {
  transform: rotate(0deg);
}  

.manageContainer {
  z-index: 1;
  opacity: 0;
  transition: .6s;
}

.manageContainer input {
  cursor: pointer;
}

/* 経営支援室 */

.mngToggleBtn {
  position: absolute;
  right: 0;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}  

.mngToggleBtn::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: black;
  transition: .2s;
}  

.mngToggleBtn.active::before {
  transform: translateX(-10px);
  opacity: 0;
}  

.mngToggleBtn::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: black;
  transform: rotate(90deg);
  transition: .4s;
}  

.mngToggleBtn.mngToggleBtn.active::after {
  transform: rotate(0deg);
}  

.mngContainer {
  z-index: 1;
  opacity: 0;
  transition: .6s;
}

.mngContainer input {
  cursor: pointer;
}

/* 営業部 */
.bizToggleBtn {
  position: absolute;
  right: 0;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}  

.bizToggleBtn::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: black;
  transition: .2s;
}  

.bizToggleBtn.active::before {
  transform: translateX(-10px);
  opacity: 0;
}  

.bizToggleBtn::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: black;
  transform: rotate(90deg);
  transition: .4s;
}  

.bizToggleBtn.bizToggleBtn.active::after {
  transform: rotate(0deg);
}  

.bizContainer {
  z-index: 1;
  opacity: 0;
  transition: .6s;
}

.bizContainer input {
  cursor: pointer;
}

/* 品質管理部 */
.qltToggleBtn {
  position: absolute;
  right: 0;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}  

.qltToggleBtn::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: black;
  transition: .2s;
}  

.qltToggleBtn.active::before {
  transform: translateX(-10px);
  opacity: 0;
}  

.qltToggleBtn::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: black;
  transform: rotate(90deg);
  transition: .4s;
}  

.qltToggleBtn.qltToggleBtn.active::after {
  transform: rotate(0deg);
}  

.qltContainer {
  z-index: 1;
  opacity: 0;
  transition: .6s;
}

.qltContainer input {
  cursor: pointer;
}

/* スマートエナジーソリューション部 */
.sesToggleBtn {
  position: absolute;
  right: 0;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}  

.sesToggleBtn::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: black;
  transition: .2s;
}  

.sesToggleBtn.active::before {
  transform: translateX(-10px);
  opacity: 0;
}  

.sesToggleBtn::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: black;
  transform: rotate(90deg);
  transition: .4s;
}  

.sesToggleBtn.sesToggleBtn.active::after {
  transform: rotate(0deg);
}  

.sesContainer {
  z-index: 1;
  opacity: 0;
  transition: .6s;
}

.sesContainer input {
  cursor: pointer;
}

/* 開発本部 */
.devGroupToggleBtn,
.dev1ToggleBtn, 
.dev2ToggleBtn, 
.dev3ToggleBtn, 
.dev4ToggleBtn, 
.dev5ToggleBtn, 
.dev6ToggleBtn, 
.dev7ToggleBtn {
  position: absolute;
  right: 0;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}  

.devGroupToggleBtn::before,
.dev1ToggleBtn::before,
.dev2ToggleBtn::before,
.dev3ToggleBtn::before,
.dev4ToggleBtn::before,
.dev5ToggleBtn::before,
.dev6ToggleBtn::before,
.dev7ToggleBtn::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: black;
  transition: .2s;
}  

.devGroupToggleBtn.active::before,
.dev1ToggleBtn.active::before,
.dev2ToggleBtn.active::before,
.dev3ToggleBtn.active::before,
.dev4ToggleBtn.active::before,
.dev5ToggleBtn.active::before,
.dev6ToggleBtn.active::before,
.dev7ToggleBtn.active::before {
  transform: translateX(-10px);
  opacity: 0;
}  

.devGroupToggleBtn::after,
.dev1ToggleBtn::after,
.dev2ToggleBtn::after,
.dev3ToggleBtn::after,
.dev4ToggleBtn::after,
.dev5ToggleBtn::after,
.dev6ToggleBtn::after,
.dev7ToggleBtn::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: black;
  transform: rotate(90deg);
  transition: .6s;
}  

.devGroupToggleBtn.devGroupToggleBtn.active::after,
.dev1ToggleBtn.dev1ToggleBtn.active::after,
.dev2ToggleBtn.dev2ToggleBtn.active::after,
.dev3ToggleBtn.dev3ToggleBtn.active::after,
.dev4ToggleBtn.dev4ToggleBtn.active::after,
.dev5ToggleBtn.dev5ToggleBtn.active::after,
.dev6ToggleBtn.dev6ToggleBtn.active::after,
.dev7ToggleBtn.dev7ToggleBtn.active::after {
  transform: rotate(0deg);
}  

.devGroupContainer,
.dev1Container,
.dev2Container,
.dev3Container,
.dev4Container,
.dev5Container,
.dev6Container,
.dev7Container {
  z-index: 1;
  opacity: 0;
  transition: .8s;
}

.devGroupContainer input,
.dev1Container input,
.dev2Container input,
.dev3Container input,
.dev4Container input,
.dev5Container input,
.dev6Container input,
.dev7Container input {
  cursor: pointer;
}

/* ICT本部 */
.ictGroupToggleBtn,
.ict1ToggleBtn,
.ict2ToggleBtn,
.ict3ToggleBtn,
.ict4ToggleBtn,
.ict5ToggleBtn,
.ict6ToggleBtn,
.ict7ToggleBtn {
  position: absolute;
  right: 0;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}  

.ictGroupToggleBtn::before,
.ict1ToggleBtn::before,
.ict2ToggleBtn::before,
.ict3ToggleBtn::before,
.ict4ToggleBtn::before,
.ict5ToggleBtn::before,
.ict6ToggleBtn::before,
.ict7ToggleBtn::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: black;
  transition: .2s;
}  

.ictGroupToggleBtn.active::before,
.ict1ToggleBtn.active::before,
.ict2ToggleBtn.active::before,
.ict3ToggleBtn.active::before,
.ict4ToggleBtn.active::before,
.ict5ToggleBtn.active::before,
.ict6ToggleBtn.active::before,
.ict7ToggleBtn.active::before {
  transform: translateX(-10px);
  opacity: 0;
}  

.ictGroupToggleBtn::after,
.ict1ToggleBtn::after,
.ict2ToggleBtn::after,
.ict3ToggleBtn::after,
.ict4ToggleBtn::after,
.ict5ToggleBtn::after,
.ict6ToggleBtn::after,
.ict7ToggleBtn::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: black;
  transform: rotate(90deg);
  transition: .4s;
}  

.ictGroupToggleBtn.ictGroupToggleBtn.active::after,
.ict1ToggleBtn.ict1ToggleBtn.active::after,
.ict2ToggleBtn.ict2ToggleBtn.active::after,
.ict3ToggleBtn.ict3ToggleBtn.active::after,
.ict4ToggleBtn.ict4ToggleBtn.active::after,
.ict5ToggleBtn.ict5ToggleBtn.active::after,
.ict6ToggleBtn.ict6ToggleBtn.active::after,
.ict7ToggleBtn.ict7ToggleBtn.active::after {
  transform: rotate(0deg);
}  

.ictGroupContainer,
.ict1Container,
.ict2Container,
.ict3Container,
.ict4Container,
.ict5Container,
.ict6Container,
.ict7Container {
  z-index: 1;
  opacity: 0;
  transition: .6s;
}

.ictGroupContainer input,
.ict1Container input,
.ict2Container input,
.ict3Container input,
.ict4Container input,
.ict5Container input,
.ict6Container input,
.ict7Container input {
  cursor: pointer;
}

/* 東北事業所 */
.eastBizName {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
  align-items: center;
  position: relative;
  z-index: 2;
  background-color: #f39c12;
  cursor: pointer;
}  

.estToggleBtn {
  position: absolute;
  right: 0;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}  

.estToggleBtn::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: black;
  transition: .2s;
}  

.estToggleBtn.active::before {
  transform: translateX(-10px);
  opacity: 0;
}  

.estToggleBtn::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: black;
  transform: rotate(90deg);
  transition: .4s;
}  

.estToggleBtn.estToggleBtn.active::after {
  transform: rotate(0deg);
}  

.estContainer {
  z-index: 1;
  opacity: 0;
  transition: .6s;
}

.estContainer input {
  cursor: pointer;
}